# Python bytecode and chache files
*/__pycache__
__pycache__
.pytest_cache
.tmp
extract/tests/template/*

# Env files
.env
*/*.env
.rightmoveEnv


# System files
*.DS_Store
.vscode/
*.idea

# Logs files
*.log

# Configuration and sensitive files
*.jl
*.json
*.jsonl
*.csv
*.csv.gz


# Other files
.tox
.cache
.coverage
uv.lock
