.project
.settings/
target/
*.idea
*.csv
.env
.pytest_cache
*.csv
*.csv.gz
*.log
poetry.lock
.gitignore
.idea
.mvn
.vscode
.rightmoveEnv
.venv
.vscode
.mvn
__pycache__/*
*.pyc
.vscode
__pycache__
uv.lock